{% extends "main.html" %}


{% block head_extra %}
{{ form.media }}

{% endblock head_extra %}




{% block content %}

			<div>
				<h3>{{get_post.title}}</h3>
				<h3>{{get_post.content}}</h3>               
                <h3>{{get_post.user}}</h3>     
                <h3>{{get_post.date}}</h3>
                <h4>id:{{get_post.id}}</h4>
                <a href="{% url 'ad_like' get_post.id %}"><h5>like:{{get_post.like}}</h5></a> 
            	<a href="{% url 'ad_dislike' get_post.id %}"><h5>dislike:{{get_post.dislike}}</h5></a>  


           
                <hr align="left" >
            </div>

{%endblock content%}